@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
  font-family: 'Roboto', sans-serif;
  font-size: 0.9rem;
}

/* scroll-top button */
.form-row button {
    font-size: 16px;
  }
  
  .btn.back-to-top {
    bottom: 50px;
    right: 30px;
    z-index: 10;
    opacity: 0.5;
    transition: all 0.2s;
  }
  
  .btn.back-to-top.is-hidden {
    opacity: 0;
    visibility: hidden;
  }
  
  .btn.back-to-top:hover {
    opacity: 1;
  }
  